.div{
 
   

  width:300px;
  height: 250px;
  border-radius: 15px;
  background-image: url(https://tse3.mm.bing.net/th?id=OIP.S21gUSb9YCFUC0M3BDILYgHaEK&pid=Api&P=0&h=180);
}
.div1{

  border: 1px solid black;
  width: 170px;
 
  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

  margin-left: 10px;
}
.button{
  background-color: darkgray;
  margin-left: 10px;
  width: 30px;
  border-radius: 50px;
   
  background: rgba(11, 3, 3, 0.25);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba(18, 5, 5, 0.18);
  
}
.input{
  background-color:grey;
  margin-left: px;
  width:70px;
  margin-left: 10px;
  color: white;
}
.back{
  margin-left: 10px;
  background-color: gray;
}
.a{
  margin-left: 10px;
  background-color: gray;
  
}
.input1{
  width:150px;
   margin-Left:10px;
   backdrop-filter: blur(16px) saturate(180%);
   -webkit-backdrop-filter: blur(16px) saturate(180%);
   background-color: rgba(17, 25, 40, 0.75);
   border-radius: 12px;
   border: 1px solid rgba(255, 255, 255, 0.125);
   color: blanchedalmond;
}